button, select {
    background-color: black;
    border-color: white;
    border-style: outset;
    border-radius: .3rem;
    color: white;
    font-size: 1rem;
}

body {
    background-image: image-url('black_paper.png'); // alt: tactile_noise_@2X
    color: white;
    padding-top: 6rem;
}

h1.tasks-title {
    font-size: 3rem;
    //margin-left: 5%; // alternate alignment
    text-align: center;
}

input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border-color: white;
    border-radius: .1rem;
    border-style: solid;
    border-width: .1rem;
    
    &:checked {
        background-color: grey;
    }
 
    &:checked:after {
        color:white;
        content: '✓'; // alternatively, '\2713'
        font-family: monospace;
        font-size: 1vw;
        line-height: 1vw;
    }  
}

input, textarea {
    background-color: black;
    border-color: white;
    border-style: inset;
    color: white;
    font-family: monospace;
    font-size: 1rem;
}

textarea {
    min-height: 6.75rem;
    resize: none;
}
