body {
    // [NOTE] Temporary styling to make it easier on the eyes
    background-color: black;
    color: white;
}

.task {
    // [NOTE] Temporary styling to show object bounds
    border: solid;
}