button, select {
    background-color: black;
    border-color: black;
    border-style: outset;
    color: white;
}

body {
    background-color: black;
    color: white;
    padding-top: 6rem;
}

h1.tasks-title {
    font-size: 3rem;
    //margin-left: 5%; // alternate alignment
    text-align: center;
}
