button.menu-item {
    padding: initial;
}

span.brand {
    white-space: nowrap;

    .brand__title {
        font-size: 2.5rem;
    }
    .brand__subtitle {
        margin-left: .5rem;
    }
}

span.brand, .menu-item {
    flex-basis: 0;
    flex-grow: 1;
}

.menu-bar {
    background: #7e0d05;
    border-bottom-color: #540803;
    border-bottom-style: groove;
    border-bottom-width: 0.15rem;
    height: 6rem;
    left: 0;
    padding: .5rem;
    padding-top: 0;
    position: fixed;
    top: 0;
    width: unquote("calc(100% - 1rem)");
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: flex-start; // default
    align-items: center;
    align-content: flex-start;

    input[type="checkbox"] {
        max-height: 20px;
        max-width: 20px;
        min-height: 20px;
        min-width: 20px;
    }

}
    
.menu-item {
    //display: contents;
    font-size: 1.25rem;
}

@media screen and (min-width: 865px) {
    .menu-bar {
        padding-right: 40%;
        width: 60%;
    }
}