// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.complete-button {
    background-color: white;
    color: black;
}

.delete-button {
    background-color: #7e0d05;
}

.form-error {
    background-color: #7e0d05;
    border-radius: .75rem;
    color: white;
    font-weight: bold;
    margin: .25rem 0;
    padding: 0 .5rem;
    width: max-content;
}


.deletion-property-summary {
    background-color: black;
    border-style: solid;
    border-bottom: 0;
    max-width: 38rem;

    .deletion-property-pair {
        border-bottom-style: solid;
        display: grid;
        grid-template-columns: 8rem auto;
        padding: .25rem .5rem;
        white-space: pre-line;
        word-break: break-word;

        label:not(.deletion-property-name) {
            margin-left: 1rem;
        }

        label.deletion-property-name {
            border-right-style: solid;
        }
    }
}
.form-button {
    margin: .5rem .15rem
}

.label-input-pair {
    display: grid;
    grid-template-columns: 8rem minmax(8rem,26rem);
}

.task-form, .task-deletion-prompt {
    font-size: 1.5rem;
}
