.task {
    align-content: center;
    border: solid;
    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 1rem;
    margin-left: 2%;
    margin-right: 2%;

    margin-top: 0;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: 0;
    padding-right: .5rem;
    width: 96%;

    button {
        margin-bottom: 1rem;
    }

    input[type="checkbox"] {
        align-self: center;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        border-color: white;
        border-radius: .2rem;
        border-style: solid;
        border-width: .125rem;
        justify-self: center;
        height: 1.75vw;
        width: 1.75vw;
        min-width: 25px;
        min-height: 25px;

        &:checked {
            background-color: grey;
        }
     
        &:checked:after {
            color:white;
            content: '✓'; // alternatively, '\2713'
            font-family: monospace;
            font-size: unquote("max(1.8rem, 1.8vw)");
            // calling max(1.8rem, 1.8vw) results in compilation error. see https://github.com/sass/libsass/issues/2701
            font-weight: bold;
            line-height: 1.75vw;
        }    
    }
}

.task-info {
    line-height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    
    h1 {
       font-size: 2.5rem;
       line-height: 2rem;

    }
    p {
        font-size: 1.6rem;
        line-height: 1.3rem;
    }
}