// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
.form-error {
    
}
*/

.deletion-property-summary {
    border-style: solid;
    max-width: 38rem;

    .deletion-property-pair {
        display: grid;
        grid-template-columns: 8rem auto;
        word-break: break-word;
    }
}

.label-input-pair {
    display: grid;
    grid-template-columns: 8rem minmax(8rem,26rem);
}

.task-form {
    font-size: 1.5rem;
}